<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-UK" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script data-goatcounter="https://c4process.goatcounter.com/count" async src="/js/gc.js"></script>
  </head>

  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <header class="page-header" role="banner">
      <a href="/"><img class="project-logo" width="120" src="/assets/logos/C4WS.svg"></a>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="/" class="btn">HOME</a>
      <a href="/blog/" class="btn">Blog</a>
      <a href="/C4/" class="btn">C4</a>
    </header>